.carousel-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.icon {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    color: #000;
    user-select: none;
    cursor: pointer;
    z-index: 10;
    &.left-arrow{
        left: 32px;
    };
    &.right-arrow{
        right: 32px;
    };
    :hover {
        color: #424142;
    };
}
.indicator-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.slide {
    opacity: 0;
    transition-duration:1s ease;
    &.active {
        opacity: 1;
        transition-duration:1s;
        transform: scale(1.08);
    }
}

.carousel {
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 0.5s;
}

.disabled {
    display: none;
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}